body {
  background:rgb(24, 24, 30);
}
@font-face {
  font-family: 'Platin';
  src: url('/fonts/mplantin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}