// Define color variables
$card: rgb(15, 14, 14);
$background: rgb(53, 53, 53);
$frame-background: #38362f;
$background-texture: #bdb6af;
$text-color: rgb(35, 35, 35);

.card {
  font-family: "Plantin", sans-serif;
  width: 500px;
  height: 700px;
  background: $card;
  // border: 1px solid red;
  color: $text-color;
  padding: 1rem 1.2rem;
  position: relative;
  border-radius: 1.25em;

  header {
    padding: 3px;
    background: $frame-background;
    border-radius: 8px/20px;
    // box-shadow: -2px 0 0 0 rgba(0, 0, 0, 0.8);
    position: relative;
    font-weight: 600;
  }
  header > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 2px;
    border: 2px solid #000;
    border-radius: 10px/20px;
    box-shadow: inset 2px -3px 0 #aaa, inset -1px 1px 0 #fff;
    height: 42px;
    // background:
    // linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ),
    // url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
    background: #bdb6af;
    text-wrap:nowrap;
  }
  p {
    padding-bottom: 1rem;
  }
}

.background {
  background: 
  // linear-gradient( 0deg, rgba(64, 62, 55, 0.191), rgba(65, 53, 45, 0.347) ),
    url("/images/black-marble.jpg");
  background-size: 100%;
  width: 100%;
  height: 92%;
  z-index: 1;
  border-radius: 5px 5px 80px 80px;
}

.cardBody {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  // background:blue;
}

.image {
  background: $background-texture;
  width: 100%;
  height: 100%;
  min-height: 48%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
    // display: none;
  }
}

.title {
  font-size: 1.25rem;
}
.type {
  font-size: 1.125rem;
}
.set {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    // padding:20px;
    position: relative;
    svg {
      width: 100%;
      height: 100%;
      // padding: 3px;
      background: -webkit-linear-gradient(#ff0000, #4105f4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1;
    }
  }
}

.body,
.image,
.type {
  margin-top: -4px !important;
}

.body,
.image {
  max-width: 97%;
  margin: auto;
}
.body {
  height: 100%;
  background: $background-texture;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  font-size: 1.125rem;
}

.body,
.image {
  border: 0.3em solid $frame-background;
  box-shadow: inset 0 0 0 0.1em rgba(0, 0, 0, 0.729),
    inset -0.3em 0.3em 0.1em #0003; /* Adjust for top right inset shadow */
}

.flavorText {
  border-top: 1px solid rgba(0, 0, 0, 0.161);
  padding-top: 1em;
  font-style: italic;
}

.footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  padding-top: 2em;
  font-size: 0.625em;
}

.stats {
  background: white;
  color: black;
  font-size: 1.5em;
  position: absolute !important;
  top: -20px;
  right: 2px;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  display: flex;
  border-radius: 30% / 100%;
  & > div {
    height: 33px !important;
  }
}

.holofoil {
  border-radius: 50%;
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 35px;
  flex-basis: 41px;
  z-index: 2;
  box-shadow: 0 0 0 4px $frame-background;
  border: 6px solid $card;
  .stamp {
    // border:3px solid red;
    background-image: url("/images/mtg-holofoil.png");
    background-size: 100%;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 2;
  }
  .borderHide {
    background: $card;
    position: absolute;
    height: 30px;
    width: 100px;
    top: 13px;
    left: -50%;
    z-index: -1;
  }
}

.mana {
  div {
    background-color: #beb9b2;
    border-radius: 1em;
    color: #111;
    font-size: 0.95em;
    width: 30px;
    height: 30px;
    text-align: center;
    box-shadow: -0.06em 0.07em 0 #111, 0 0.06em 0 #111;
    // padding:20px;
    svg {
      width: 100%;
      height: 100%;
      padding: 3px;
      color: rgb(19, 19, 19);
    }
  }
}
